sounds/cyber_dream_synthwave.mp3
sounds/Multiverse.aif
Pipfile
Pipfile.lock
todo.md
images/trump_this_sucks_caption_coolers.co_collage.png
images/trump_trump_in_overlapping_circles_collage.png
images/trump_trump_letter_per_box_connected.png
images/yellow_rocket.png
images/x_87_rocket.png
images/x_87_rocket_x.05.png
images/ship.bmp
images/peterson_lobster_pallette_coolers.co_collage.png
images/green_alien.png
images/alien_cyclops.png
images/alien_0.5.png
py/*
